div#cart {
    min-height: 200px;
    border: 1px solid;
    margin-top: 15px;
    padding: 8px;
    position: absolute;
    width: 100%;
    top: 30px;
    z-index: 100;
    background: #fff;
}

.cart-product {
    height: 80px;
    background: #e6e6e6;
    margin: 8px 0;
    padding: 8px;
}

#cart-wrap{
    position: relative;
}